*
{
	margin: 0;
	padding: 0;
}

 header
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0.5)),url("0025.png");
	height: 100vh;
	background-size: cover;
	background-position: center;
}	

.main-navigation 
{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-navigation li
{
    display: inline-block;
    margin: 10px 5x;
    
}

.main-navigation li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto",sans-serif;
    font-size: 15px;    
}
.main-navigation li.active a
{
    border: 1px solid white;
}

.main-navigation li a:hover
{
    border: 1px solid white;
}

.logo img
{
    width: 150px;
    height: auto;
    float: left;
}




.heading
{
    font-size: 10px;
    position: absolute;
    width: 1370px;
    margin-left: 0;
    margin-top: 50px;
}

h3
{
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin-top: inherit;        
}


/---ContactUs----/



form
{
    margin-top: 100px;
}

.Contact form
{
    
    font-size: 10px;
    position: absolute;
    width: 1370px;
    margin-top: 250px;
    margin-left:500px;
    font-family: inherit;
    color: white;
    font-size: 18px;
}

.form-layout
{

    width: 300px;
    background-color: black;
    border:none;
    outline: inherit;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
    
}
.form-button
{

    font-size: 20px;
    font-family: inherit;
    height: 50px;
    width: 150px;
    margin-left: 100px;
}
.title
{
  font-size: 10px;
    position: absolute;
    width: 1370px;
    margin-left: 0;
    margin-top: 60px;    
}
h1
{
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin-top: inherit; 
}
h2
{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    margin-top: 10px; 
}

/--Gallery--/

body
{
	background-color: black;
	height: 100vh;
	background-size: cover;
	background-position: center;
}	

.branches img
{
    
    margin-top: 110px;
    margin-left: 140px;
    width: 800px;
    height: 500px;
    border-bottom-color: black;
}


.mainnavigation 
{
    float: none;
    list-style: none;
    margin-left: 700px;
    margin-bottom: 20px;
}

.mainnavigation li
{
    display: inline-block;
    margin: 10px 5x;
    
}

.mainnavigation li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto",sans-serif;
    font-size: 15px;  
    margin-bottom: 100px;
}
.mainnavigation li.active a
{
    border: 1px solid white;
}

.mainnavigation li a:hover
{
    border: 1px solid white;
}



.wrapper
{
    
    background-color: black;
    height: 100vh;
	background-size: cover;
	background-position: center;
}
.img-area
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.single-img img
{

    width: 150px;
    height: 150px;
}




.Prices
{
    font-size: 10px;
    position: absolute;
    width: 350px;
    margin-left:470px;
    margin-top: 40px;
    
}

.main-navi 
{
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 100px;

}

.main-navi li
{
    display: inline-block;
    margin: 10px 5x;
    
}

.main-navi li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto",sans-serif;
    font-size: 15px;    
}
.main-navi li.active a
{
    border: 1px solid white;
}

.main-navi li a:hover
{
    border: 1px solid white;
}